@page "/"
@page "/home"

<PageTitle>Home</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-2"><h1>Welcome!</h1></MudPaper>
    </MudItem>

</MudGrid>
